body {
    margin: 0;
}

#container {
    background-size: 30vw;
    column-gap: 2vw;
}

h1 {
    padding: 0vw 0.5vw;
    font-weight: 900;
    -webkit-text-stroke: 1px #000000;
    text-shadow: 0.05vw 0.05vw 0.2vw rgb(0, 0, 0), 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.434);
}

h2 {
    font-size: 1.7vw;
    font-weight: 100;
    padding: 1.5vw 10vw;
}

#cdPlayer {
    width: 56%;
    height: 6vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-bottom: 2vw; */
    /* box-shadow: 0vw 0.5vw 1vw #6d6d6d; */
}

h3 {
    width: 20%;
    font-size: 1vw;
    font-weight: 400;
    border: 0.3vw solid #272626;
    box-shadow: inset 0.1vw 0 0.7vw white;
    padding: 0.5vw;
}

#tv {
    width: 50%;
}

#buttons {
    width: 55%;
    top: 0.1vw;
}

#crack {
    max-width: 13vw;
    position: absolute;
    top: 6vw;
    left: 53%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#crack2 {
    max-width: 5vw;
    position: absolute;
    top: 15vw;
    left: 40%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#hole {
    max-width: 5vw;
    position: absolute;
    top: 8.5vw;
    left: 70%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.8;
}

#hole2 {
    max-width: 2.5vw;
    position: absolute;
    top: 5vw;
    left: 68%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.8;
}

#repair {
    position: relative;
    /* top: 1.5vw; */
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.3vw;
    padding: 0.5vw 1vw;
    background-color: rgb(154, 215, 251);
    border-radius: 0.5vw;
    margin: 1vw 0 0 0;
}

#stopVideo {
    font-size: 1vw;
    margin: 0 0.5vw;
}

#startVideo {
    font-size: 1vw;
    margin: 0 0.5vw;
}

#home {
    position: absolute;
    left: 2%;
    font-size: 1vw;
    font-weight: 500;
    background-color: #ffffff;
}

#helloWorld,
#helloWorldGlitch {
    max-width: 34%;
    left: 45%;
    top: 4vw;
}

#hello:hover,
#startVideo:hover,
#stopVideo:hover,
#home:hover,
#repair:hover {
    cursor: pointer;
}

#H {
    animation: letterLeft 0.4s linear forwards 0.45s;
    color: #FEBE98;
    font-size: 3.6vw;
}

#E {
    animation: letterLeft 0.4s linear forwards 0.3s;
    color: #f3ab81;
    font-size: 4.5vw;
}

#L1 {
    animation: letterLeft 0.4s linear forwards 0.2s;
    color: #c67546;
    font-size: 4vw;
}

#L2 {
    animation: letterRight 0.4s linear forwards 0.2s;
    color: #f3ab81;
    font-size: 3.1vw;
}


#O {
    animation: letterRight 0.4s linear forwards 0.3s;
    color: #FEBE98;
    font-size: 4.5vw;
}

#exclamation {
    animation: letterRight 0.4s linear forwards 0.45s;
    color: #925836;
    font-size: 4vw;
}

#contactVidBack {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.477)), url('contactVidBack.png');
    background-repeat: no-repeat;
    background-size: contain;
}

#contactVid {
    max-width: 20vw;
    margin: 1vw auto 0 auto;
}

#contact {
    width: 50vw;
    max-width: 70vw;
    background-color: white;
    border: 0.2vw solid #343434;
    border-radius: 0.8vw;
    margin: 4vw auto;
    text-align: center;
    display: grid;
    grid-template-areas: 'contactTitle' 'video' 'contactPara' 'details';
    column-gap: 2vw;
}

#game,
#projects {
    width: 40vw;
    max-width: 40vw;
    background-color: white;
    border: 0.2vw solid #343434;
    border-radius: 0.8vw;
    margin: 3vw auto;
    text-align: center;
}

#game>h2,
#projects>h2 {
    /* background-color: rgb(96, 200, 165); */
    /* background-color: rgb(252, 225, 188); */
    background-color: #ffcbad;
}

#contact>p {
    padding: 3vw;
    font-size: 1.2vw;
    margin: 0;
}

#gmail:hover,
#linkedIn:hover {
    cursor: pointer;
}

#gmail:hover,
#linkedIn:hover {
    opacity: 0.8;
}

#gmail,
#linkedIn {
    width: 2.2vw;
    height: 2.2vw;
    border: 0.1vw solid #464646;
    margin: 0.3vw;
    border-radius: 20%;
}

#gmail {
    margin-right: 4vw;
}

#contactDetails {
    width: max-content;
    height: max-content;
    margin: 0 auto 2vw auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail connect LI';
    align-items: center;
    justify-items: center;
    font-size: 1.2vw;
}

#toast {
    max-width: max-content;
    position: fixed;
    bottom: 1.5vw;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #1a1919a6;
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    animation: appear 0.2s;
    display: none;
}