body {
    /* background-size: 30vw; */
}

#container {
    column-gap: 2vw;
    background-size: 30vw;
}

h1 {
    padding: 0vw 0.5vw;
    font-weight: 900;
    -webkit-text-stroke: 0.05px #432b1d;
}

h2 {
    font-size: 1.7vw;
    font-weight: 100;
    padding: 1.5vw 10vw;
}

h3 {
    font-size: 1vw;
    font-weight: 100;
    padding: 1vw;
    border-radius: 1vw;
    border: 0.2vw solid #464646;
    margin-bottom: 2vw;
}

#tv {
    width: 75%;
}

#crack {
    max-width: 20vw;
    position: absolute;
    top: 8vw;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#crack2 {
    max-width: 10vw;
    position: absolute;
    top: 22vw;
    left: 35%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#hole {
    max-width: 8vw;
    position: absolute;
    top: 12vw;
    right: 15%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.8;
}

#hole2 {
    max-width: 3.5vw;
    position: absolute;
    top: 5vw;
    right: 14%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.8;
}

#repair {
    position: relative;
    /* top: 1.5vw; */
    left: 50%;
    transform: translate(-50%, 0%);
    font-size: 1.3vw;
    padding: 0.5vw 1vw;
    background-color: rgb(154, 215, 251);
    border-radius: 0.5vw;
    margin: -1vw 0 1vw 0;
}

#stopVideo {
    font-size: 1vw;
    margin: 0 0.5vw;
}

#startVideo {
    font-size: 1vw;
    margin: 0 0.5vw;
}

#home {
    position: absolute;
    left: 2%;
    font-size: 1vw;
    font-weight: 500;
    background-color: #ffffff;
}

#helloWorld,
#helloWorldGlitch {
    max-width: 50%;
    left: 43%;
    top: 5vw;
}

#hello:hover,
#startVideo:hover,
#stopVideo:hover,
#home:hover,
#repair:hover {
    cursor: pointer;
}

#H {
    animation: letterLeft 0.4s linear forwards 0.45s;
    color: #FEBE98;
    font-size: 3.8vw;
}

#E {
    animation: letterLeft 0.4s linear forwards 0.3s;
    color: #f3ab81;
    font-size: 4.5vw;
}

#L1 {
    animation: letterLeft 0.4s linear forwards 0.2s;
    color: #c67546;
    font-size: 4vw;
}

#L2 {
    animation: letterRight 0.4s linear forwards 0.2s;
    color: #f3ab81;
    font-size: 3.1vw;
}


#O {
    animation: letterRight 0.4s linear forwards 0.3s;
    color: #FEBE98;
    font-size: 4.3vw;
}

#exclamation {
    animation: letterRight 0.4s linear forwards 0.45s;
    color: #713d1e;
    font-size: 4.5vw;
}

#contactVid {
    max-width: 20vw;
    margin: 2.5vw;
}

#contact {
    width: max-content;
    max-width: 70vw;
    background-color: white;
    border: 0.2vw solid #343434;
    border-radius: 0.8vw;
    margin: 4vw auto;
    text-align: center;
    display: grid;
    grid-template-areas: 'contactTitle contactTitle' 'contactPara video' 'details video';
    column-gap: 2vw;
}

#game,
#projects {
    width: 40vw;
    max-width: 40vw;
    background-color: white;
    border: 0.2vw solid #343434;
    border-radius: 0.8vw;
    margin: 3vw auto;
    text-align: center;
}

#game>h2,
#projects>h2 {
    /* background-color: rgb(96, 200, 165); */
    /* background-color: rgb(252, 225, 188); */
    background-color: #ffcbad;
}

#contact>p {
    padding: 3vw;
    font-size: 1.2vw;
    margin: 0;
}

#gmail:hover,
#linkedIn:hover {
    cursor: pointer;
}

#gmail:hover,
#linkedIn:hover {
    opacity: 0.8;
}

#gmail,
#linkedIn {
    width: 2.2vw;
    height: 2.2vw;
    border: 0.1vw solid #464646;
    margin: 0.3vw;
    border-radius: 20%;
}

#linkedIn {
    margin-bottom: 3vw;
}

#contactDetails {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail' 'connect LI';
    align-items: center;
    justify-items: center;
    font-size: 1.2vw;
}

#toast {
    max-width: max-content;
    position: fixed;
    bottom: 1.5vw;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
    background-color: #1a1919a6;
    color: rgb(255, 255, 255);
    padding: 0.5vw;
    border-radius: 0.5vw;
    font-size: 1vw;
    animation: appear 0.2s;
    display: none;
}