body {
    /* background-size: 70vw; */
    margin: 0;
}

#container {
    column-gap: 4vw;
    /* background-size: 70vw; */
}

#toast {
    display: none;
}

h1 {
    padding: 5vw 0.5vw 0vw 0.5vw;
    -webkit-text-stroke: 0.1vw #331d11;
}

h2,
h3 {
    font-weight: 400;
}

h3 {
    padding: 0.5vw 0.5vw;
    box-shadow: inset 0.2vw 0.2vw 1.5vw white, inset -0.2vw -0.2vw 1.5vw white;
}

#buttons {
    top: 0.5vw;
}

#cdPlayer {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-bottom: 2vw; */
    /* box-shadow: 0vw 0.5vw 1vw #6d6d6d; */
}

#crack {
    max-width: 25vw;
    position: absolute;
    top: 10vw;
    left: 52%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#crack2 {
    max-width: 10vw;
    position: absolute;
    top: 27vw;
    left: 33%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#hole {
    max-width: 11vw;
    position: absolute;
    top: 13vw;
    right: 5%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.85;
}

#hole2 {
    max-width: 5vw;
    position: absolute;
    top: 6vw;
    right: 3.5%;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.85;
}

#repair {
    position: relative;
    top: 1.5vw;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 1vw 3vw;
    background-color: rgb(154, 215, 251);
    border-radius: 1vw;
    margin: 1vw 0 3vw 0;
}

#stopVideo {
    font-size: 2vw;
    margin: 0 0.5vw;
}

#startVideo {
    font-size: 2vw;
    margin: 0 0.5vw;
}

#home {
    position: absolute;
    left: 2%;
    font-size: 2vw;
    background-color: #ffffff;
}

#H {
    animation: letterLeft 0.4s linear forwards 0.45s;
    color: #FEBE98;
}

#E {
    animation: letterLeft 0.4s linear forwards 0.3s;
    color: #f3ab81;
}

#L1 {
    animation: letterLeft 0.4s linear forwards 0.2s;
    color: #c67546;
}

#L2 {
    animation: letterRight 0.4s linear forwards 0.2s;
    color: #f3ab81;
}

#O {
    animation: letterRight 0.4s linear forwards 0.3s;
    color: #FEBE98;
}

#exclamation {
    animation: letterRight 0.4s linear forwards 0.45s;
    color: #713d1e;
}

#contactVid {
    max-width: 50vw;
    margin: 2.5vw auto;
}

#contact {
    background-color: white;
    margin: 4vw auto;
    text-align: center;
    display: grid;
    grid-template-areas: 'contactTitle' 'contactPara' 'details' 'video';
    column-gap: 2vw;
}

#game,
#projects {
    width: 40vw;
    max-width: 40vw;
    background-color: white;
    border: 0.2vw solid #343434;
    border-radius: 0.8vw;
    margin: 3vw auto;
    text-align: center;
}

#game>h2,
#projects>h2 {
    /* background-color: rgb(96, 200, 165); */
    /* background-color: rgb(252, 225, 188); */
    background-color: #ffcbad;
}

#contact>p {
    padding: 3vw;
    margin: 0;
}

#gmail:hover,
#linkedIn:hover {
    cursor: pointer;
}

#gmail:hover,
#linkedIn:hover {
    opacity: 0.8;
}

#gmail,
#linkedIn {
    width: 2.2vw;
    height: 2.2vw;
    border: 0.1vw solid #464646;
    margin: 0.3vw;
    border-radius: 20%;
}

#linkedIn {
    margin-bottom: 3vw;
}

#contactDetails {
    width: 80vw;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail' 'connect LI';
    align-items: center;
    justify-items: center;
}

@media screen and (orientation: portrait) {

    h2 {
        font-size: 4.5vw;
        padding: 3vw 1vw;
        border-radius: 2.5vw 2.5vw 0 0;
    }

    h3 {
        width: 30%;
        font-size: 3vw;
        padding: 2vw;
        border: 0.5vw solid #464646;
    }

    #H {
        font-size: 8.3vw;
    }

    #L1 {
        font-size: 8.6vw;
    }

    #E {
        font-size: 9vw;
    }

    #L2 {
        font-size: 7vw;
    }


    #O {
        font-size: 8.9vw;
    }

    #exclamation {
        font-size: 9.5vw;
    }

    p {
        font-size: 3.5vw;
    }

    #contact {
        width: 80vw;
        max-width: 80vw;
        border: 0.5vw solid #343434;
        border-radius: 3vw;
    }

    #tv {
        width: 96%;
    }

    #buttons {
        width: 90%;
    }

    #cdPlayer {
        width: 91%;
        height: 13vw;
    }

    #helloWorld,
    #helloWorldGlitch {
        max-width: 65%;
        left: 41%;
        top: 6vw;
    }

    #repair {
        font-size: 3.5vw;
    }
}

@media screen and (orientation: landscape) {
    h2 {
        font-size: 2.5vw;
        padding: 1.5vw 10vw;
        border-radius: 2.7vw 2.7vw 0 0;
    }

    h3 {
        width: 25%;
        font-size: 2vw;
        padding: 1vw;
        border: 0.3vw solid #464646;
    }

    #H {
        font-size: 6.3vw;
    }

    #L1 {
        font-size: 6.6vw;
    }

    #E {
        font-size: 7vw;
    }

    #L2 {
        font-size: 5vw;
    }


    #O {
        font-size: 6.9vw;
    }

    #exclamation {
        font-size: 7.5vw;
    }

    p {
        font-size: 2vw;
    }

    #contact {
        width: 80vw;
        max-width: 80vw;
        border: 0.5vw solid #343434;
        border-radius: 3vw;
    }

    #tv {
        width: 70%;
    }

    #buttons {
        width: 70%;
        top: 0;
    }

    #cdPlayer {
        width: 71%;
        height: 10vw;
    }

    #helloWorld,
    #helloWorldGlitch {
        max-width: 48%;
        left: 43%;
        top: 5vw;
    }

    #repair {
        font-size: 2vw;
    }
}