body {
    margin: 0;
}

#container {
    column-gap: 4vw;
    /* background-size: 70vw; */
}

#toast {
    display: none;
}

h1 {
    padding: 1vw 0.5vw;
    -webkit-text-stroke: 0.1vw #331d11;
    text-shadow: 0.5vw 0.5vw 0.4vw rgb(0, 0, 0), 0.2vw 0.2vw 0.5vw rgba(0, 0, 0, 0.434);
}

h2,
h3 {
    font-weight: 400;
}

h3 {
    padding: 0.5vw 0.5vw;
    box-shadow: inset 0.2vw 0.2vw 1.5vw white, inset -0.2vw -0.2vw 1.5vw white;
}

#tvDiv {
    /* margin-bottom: 4vw; */
    padding: 7vw 0 10vw 0;
}

#hello {
    height: max-content;
}

#buttons {
    top: 0.5vw;
}

#cdPlayer {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
    /* margin-bottom: 2vw; */
    /* box-shadow: 0vw 0.5vw 1vw #6d6d6d; */
}

#crack {
    position: absolute;
    left: 52%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#crack2 {
    position: absolute;
    left: 33%;
    transform: translate(-50%, 0%);
    z-index: 4;
}

#hole {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.85;
}

#hole2 {
    position: absolute;
    transform: translate(-50%, 0%);
    z-index: 4;
    opacity: 0.85;
}

#repair {
    position: relative;
    top: 1.5vw;
    left: 50%;
    transform: translate(-50%, 0%);
    padding: 1vw 3vw;
    background-color: rgb(154, 215, 251);
    border-radius: 1vw;
    margin: 1vw 0 3vw 0;
}

#stopVideo {
    font-size: 2vw;
    margin: 0 0.5vw;
}

#startVideo {
    font-size: 2vw;
    margin: 0 0.5vw;
}

#home {
    position: absolute;
    left: 2%;
    font-size: 2vw;
    background-color: #ffffff;
}

#H {
    animation: letterLeft 0.4s linear forwards 0.45s;
    color: #FEBE98;
}

#E {
    animation: letterLeft 0.4s linear forwards 0.3s;
    color: #f3ab81;
}

#L1 {
    animation: letterLeft 0.4s linear forwards 0.2s;
    color: #c67546;
}

#L2 {
    animation: letterRight 0.4s linear forwards 0.2s;
    color: #f3ab81;
}

#O {
    animation: letterRight 0.4s linear forwards 0.3s;
    color: #fdc5a5;
}

#exclamation {
    animation: letterRight 0.4s linear forwards 0.45s;
    color: #db956c;
}

#contact {
    background-color: white;
    margin: 10vw auto;
    text-align: center;
    display: grid;
    grid-template-areas: 'contactTitle' 'video' 'contactPara' 'details';
    column-gap: 2vw;
}

#contact>p {
    padding: 3vw;
    margin: 0;
}

#gmail:hover,
#linkedIn:hover {
    cursor: pointer;
}

#gmail:hover,
#linkedIn:hover {
    opacity: 0.8;
}

#gmail,
#linkedIn {
    width: 2.2vw;
    height: 2.2vw;
    border: 0.1vw solid #464646;
    margin: 0.3vw;
    border-radius: 20%;
}

#contactDetails {
    width: max-content;
    height: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail' 'connect LI';
    align-items: center;
    justify-items: center;
    padding-bottom: 3vw;
}

#contactVidBack {
    background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.51), rgba(255, 255, 255, 0.477)), url('contactVidBack.png');
    background-repeat: no-repeat;
    background-size: 90vw 40vw;
}

@media screen and (orientation: portrait) {

    h2 {
        font-size: 4.5vw;
        padding: 3vw 1vw;
        border-radius: 2.5vw 2.5vw 0 0;
    }

    h3 {
        width: 30%;
        font-size: 3vw;
        padding: 2vw;
        border: 0.5vw solid #464646;
    }

    #H {
        font-size: 7.5vw;
    }

    #L1 {
        font-size: 8.5vw;
    }

    #E {
        font-size: 9vw;
    }

    #L2 {
        font-size: 7vw;
    }


    #O {
        font-size: 8.9vw;
    }

    #exclamation {
        font-size: 9.5vw;
    }

    p {
        font-size: 3.5vw;
    }

    #contact {
        width: 80vw;
        max-width: 80vw;
        border: 0.5vw solid #343434;
        border-radius: 3vw;
    }

    #tv {
        width: 96%;
    }

    #crack {
        max-width: 23vw;
        top: 35vw;
    }

    #crack2 {
        max-width: 10vw;
        top: 52vw;
    }

    #hole {
        max-width: 11vw;
        top: 28vw;
        right: 5%;
    }

    #hole2 {
        max-width: 5vw;
        top: 40vw;
        right: 4%;
    }

    #buttons {
        width: 90%;
    }

    #cdPlayer {
        width: 91%;
        height: 13vw;
    }

    #helloWorld,
    #helloWorldGlitch {
        max-width: 65%;
        left: 41%;
        top: 29vw;
    }

    #repair {
        font-size: 3.5vw;
    }

    #gmail,
    #linkedIn {
        width: 6vw;
        height: 6vw;
    }

    #contactVid {
        max-width: 50vw;
        margin: 2.5vw auto;
    }

    #radioButtons {
        grid-template-areas: 'RG1 RG3' 'RG2 RG2';
    }

    .radioGroup {
        font-size: 3vw;
    }

    .factsPara {
        font-size: 3vw;
        padding: 5vw 5vw 5vw 0;
    }

    h5 {
        font-size: 3vw;
    }

    .otherPage {
        font-size: 3.5vw;
    }

    #gameBtn,
    #viewProjects {
        font-size: 3.5vw;
        border: 0.2vw solid #464646;
    }
}

@media screen and (orientation: landscape) {
    h2 {
        font-size: 2.5vw;
        padding: 1.5vw 10vw;
        border-radius: 2.7vw 2.7vw 0 0;
    }

    h3 {
        width: 25%;
        font-size: 2vw;
        padding: 1vw;
        border: 0.3vw solid #464646;
    }

    #H {
        font-size: 6vw;
    }

    #L1 {
        font-size: 6.3vw;
    }

    #E {
        font-size: 6.7vw;
    }

    #L2 {
        font-size: 4.8vw;
    }


    #O {
        font-size: 6.5vw;
    }

    #exclamation {
        font-size: 7.1vw;
    }

    p {
        font-size: 2vw;
    }

    #contact {
        width: 70vw;
        max-width: 80vw;
        border: 0.5vw solid #343434;
        border-radius: 3vw;
    }

    #tv {
        width: 70%;
    }

    #crack {
        max-width: 20vw;
        top: 28vw;
    }

    #crack2 {
        max-width: 7vw;
        top: 40vw;
    }

    #hole {
        max-width: 8vw;
        top: 25vw;
        right: 16%;
    }

    #hole2 {
        max-width: 3vw;
        top: 33vw;
        right: 18%;
    }

    #buttons {
        width: 70%;
        top: 0;
    }

    #cdPlayer {
        width: 71%;
        height: 10vw;
    }

    #helloWorld,
    #helloWorldGlitch {
        max-width: 48%;
        left: 43%;
        top: 24vw;
    }

    #repair {
        font-size: 2vw;
    }

    #gmail,
    #linkedIn {
        width: 3.5vw;
        height: 3.5vw;
    }

    #contactVid {
        max-width: 30vw;
        margin: 2.5vw auto;
    }

    #radioButtons {
        grid-template-areas: 'RG1 RG2 RG3';
    }

    .radioGroup {
        font-size: 1.7vw;
    }

    .factsPara {
        font-size: 2vw;
        padding: 3vw 3vw 3vw 1vw;
    }

    h5 {
        font-size: 1.7vw;
    }

    .otherPage,
    #gameBtn,
    #viewProjects {
        font-size: 2vw;
    }
}



#radioButtons {
    width: max-content;
    margin: 0 auto;
    border-radius: 0.8vw;
    padding-top: 4vw;
    display: grid;
    grid-template-columns: max-content;
    row-gap: 2vw;
    column-gap: 3vw;
}

.radioGroup {
    padding: 2vw 3vw;
    margin: 0 0.5vw;
    border-radius: 0.6vw;
    box-shadow: inset -0.2vw -0.2vw 0.6vw #000000;
    background-color: rgb(255, 246, 234);
}

.radioGroup:active {
    box-shadow: inset 0.2vw 0.2vw 0.7vw #000000;
}

.radioGroupColor {
    background-color: rgb(255, 216, 169);
    box-shadow: inset -0.2vw -0.2vw 0.6vw #000000;
}

#facts {
    width: 90%;
    margin: 10vw auto;
    border-radius: 3.5vw;
    /* background-color: antiquewhite; */
    border: 0.5vw solid #404040;
}

.factsPara {
    border-radius: 0 0 3vw 3vw;
    /* background-color: rgb(243, 243, 243); */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-color: rgb(255, 254, 246); */
}



#activities,
#contactDiv {
    background-size: 70vw;
}

#activities {
    grid-template-areas: 'game' 'projects';
    row-gap: 5vw;
    padding: 10vw;
}

#activities>div>h2 {
    border-radius: 3vw 3vw 0 0;
}

#game,
#projects {
    width: 70vw;
    border: 0.3vw solid #4c4c4c;
    border-radius: 3.3vw;
    /* margin: 5vw 0vw; */
}

#gameBtn,
#viewProjects {
    border-radius: 0.5vw;
    padding: 1vw 4vw;
    margin: 5vw 0;
}

h5>div {
    max-width: 70%;
    margin: auto;
    background-color: #6a6a6a;
    padding: 4vw;
}