body {
    margin: 0;
    max-height: 100vh;
    background-color: #464646;
}

video {
    max-width: 85%;
    grid-area: video;
    object-fit: fill;
    /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); */
    margin-top: -1%;
    outline: 4px solid white;
    outline-offset: -3px;
}

h1 {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    background-color: rgb(57, 144, 115);
    color: white;
    grid-area: heading;
    margin: 0;
    padding: 3% 0% 2% 0%;
}

h2 {
    width: max-content;
    font-size: 1.7vw;
    max-height: max-content;
    background-color: #e88d90;
    margin: 0;
    padding: 1.5% 4%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0%);
}

#recruiter {
    grid-area: recruiter;
}

#student {
    grid-area: student;
}

#other {
    grid-area: other;
}

#recruiter,
#other,
#student {
    width: 50%;
    text-align: center;
    padding: 5%;
    transition: 0.3s;
    border-radius: 3%;
    position: relative;
    top: 50%;
    transform: translate(0%, -50%);
}

#recruiter:hover,
#other:hover,
#student:hover {
    width: 47%;
    cursor: pointer;
    background-color: #F2E9D9;
}

#info {
    width: 100%;
    grid-area: info;
}

#time {
    width: 100%;
    font-size: 0.8vw;
    height: max-content;
    margin: 0%;
    text-align: center;
    position: absolute;
    top: 0;
    background-color: black;
    color: rgb(233, 233, 233);
    padding: 0.2% 0%;
}


#whoIsThis {
    max-width: 100vw;
    display: grid;
    grid-template-areas: "recruiter student other";
    justify-items: center;
    background-color: #464646;
}

#container {
    width: 100%;
    background-image: url('body_background.jpg');
    background-size: 30vw;
    display: grid;
    grid-template-areas: 'heading' 'video' 'info';
    row-gap: 10%;
    justify-items: center;
    position: absolute;
    top: 0%;
}