body {
    background-color: #464646;
    color: white;
    text-align: center;
    overflow-x: hidden;
}

hr {
    max-width: 50%;
    grid-area: hr;
}

h3 {
    max-width: 100%;
    word-wrap: break-word;
    margin: auto;
    padding: 2vw;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

img {
    max-width: 10vw;
    grid-area: img;
    padding: 2vw;
    margin: 1vw auto;
    background-color: #ebebeb;
    border-radius: 5%;
}

button {
    max-width: max-content;
    font-size: 1.2vw;
    margin: 3vw 0vw;
}

button:hover {
    cursor: pointer;
    background-color: #ababab;
}

p {
    width: 100vw;
    text-align: center;
    margin: 3vw 0vw;
    font-size: 1.5vw;
}

p>mark {
    padding: 1vw;
}