html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    text-align: center;
    background-color: #464646;
}

h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #242424;
}

h3 {
    width: max-content;
    max-width: 60vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #242424;
    margin: 3.3vw auto;
    padding: 2vw 10vw;
    background-color: #F0CFBA;
}

#showNav {
    width: 100%;
    background-color: #df7f82;
    position: fixed;
    top: 0;
}

#show {
    margin: 2vw auto;
}

div ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

div ul li {
    width: 100%;
    margin: 0;
}

div ul li a {
    width: 100%;
    height: 1.5vw;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #242424;
    background-color: #DF7F83;
    scroll-behavior: smooth;
}

div ul li a:hover {
    background-color: #f9cacc;
}

#container {
    margin-top: 5vw;
    background-color: white;
}

hr {
    width: 65vw;
    border-radius: 50%;
}

#viewTicTacToe,
#viewConverter,
#viewLeisure,
#viewPortfolio,
#view2DGame {
    display: block;
    margin: 5vw auto 0vw auto;
    background-size: contain;
    background-repeat: no-repeat center;
    font-size: 3vw;
    background-color: rgb(154, 215, 251);
}

/*
#viewTicTacToe {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('TicTacToe.jpg');
}

#viewLeisure {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('LeisureActiviteas.png');
}
*/

#projects p {
    background-color: #fdf4dd;
    padding: 8vw 10vw;
    border-radius: 2vw;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
}

#toGame {
    padding: 0.5vw 0vw;
    background-color: #464646;
    text-decoration: underline;
    color: rgb(255, 255, 255)
}

#p2,
#p3,
#p4,
#p5 {
    display: none;
}






#gmail {
    grid-area: gmail;
}

#linkedIn {
    grid-area: linkedIn;
}

#gmailImg,
#linkedInImg {
    border-radius: 0.5vw;
}

#footerTitle {
    grid-area: footerTitle;
    margin: 0;
    color: white;
    background-color: rgb(209, 151, 118);
}

#moreLinksTitle {
    grid-area: moreLinksTitle;
    background-color: rgb(245, 192, 162);
}

#footerLinks {
    grid-area: footerLinks;
    background-color: rgb(245, 192, 162);
    padding: 2vw;
}

.footerH5 {
    padding: 0vw 3vw;
    margin: 0.3vw;
}


#footerContainer {
    display: grid;
    grid-template-areas: 'gmail' 'linkedIn';
    justify-items: center;
    grid-area: footerSymbols;
    background-color: rgb(233, 175, 142);
}

footer {
    max-width: 100%;
    height: max-content;
    border-top: 0.1vw solid rgb(200, 192, 192);
    background-color: rgb(245, 192, 162);
    display: grid;
    grid-template-areas: 'footerTitle footerSymbols footerLinks';
    grid-template-columns: max-content auto;
    overflow: hidden;
}



#p1_video {
    display: none;
}

#goToGithub {
    display: block;
    max-width: max-content;
    max-height: max-content;
    background-color: white;
    border-radius: 10%;
    margin: 0 auto;
}

#toGitText {
    display: block;
    width: max-content;
    background-color: #fdf4dd;
    border: 1px solid #fdf4dd;
    margin: 0 auto;
}

#hideTicTacToe {
    display: none;
    background-color: #e3787d;
    color: white;
}





@media screen and (orientation: portrait) {

    img {
        max-width: 80vw;
    }

    #aboutMeImage {
        max-width: 55vw;
        border: 0.5px solid black;
    }

    h2 {
        font-size: 6vw;
    }

    h3 {
        font-size: 4.5vw;
    }

    h5 {
        max-width: 80vw;
    }

    div ul li a {
        font-size: 3vw;
        padding: 4vw 0vw;
    }

    #show {
        font-size: 4vw;
        margin: 2vw auto;
    }

    #photoAndName,
    #about,
    #skills,
    #projects,
    #resume,
    #projects2 {
        padding: 15vw 5vw;
    }

    p {
        font-size: 3.5vw;
        padding: 5vw 0vw;
    }

    #viewTicTacToe,
    #viewConverter,
    #viewLeisure,
    #viewPortfolio,
    #view2DGame {
        font-size: 3vw;
        padding: 2vw 10vw;
    }

    #toGame {
        width: 80vw;
        font-size: 3vw;
    }

    #gmailImg,
    #linkedInImg {
        max-width: 5vw;
    }

    #footerTitle {
        font-size: 3vw;
        padding: 10vw 8vw;
    }

    #moreLinksTitle {
        font-size: 3vw;
    }

    .footerH5 {
        font-size: 2vw;
    }

    #gmail {
        padding: 5vw;
    }

    #p1_video {
        max-width: 90%;
        height: auto;
        padding: 0% 5%;
    }

    #github {
        max-width: 5vw;
    }

    #toGitText {
        font-size: 3.5vw;
    }

    #hideTicTacToe {
        width: 40%;
        margin: 7% auto 1% auto;
        font-size: 3vw;
        padding: 1.5vw;
    }
}

@media screen and (orientation: landscape) {

    img {
        max-width: 50vw;
    }

    #aboutMeImage {
        max-width: 30vw;
        border: 0.5px solid black;
    }

    h2 {
        font-size: 4vw;
        margin-top: 0;
    }

    h3 {
        font-size: 2.5vw;
    }

    h5 {
        max-width: 50vw;
    }

    div ul li a {
        font-size: 2vw;
        padding: 2vw 0;
    }

    #show {
        font-size: 2.2vw;
        margin: 2vw auto;
    }

    #photoAndName,
    #about,
    #skills,
    #projects,
    #projects1,
    #projects2 {
        padding: 4vw 5vw;
    }

    p {
        font-size: 2vw;
        padding: 2vw 0vw;
    }

    #viewTicTacToe,
    #viewConverter,
    #viewLeisure,
    #viewPortfolio,
    #view2DGame {
        font-size: 1.5vw;
        padding: 1.5vw 7vw;
    }

    #toGame {
        width: 50vw;
        font-size: 1.5vw;
    }

    #gmailImg,
    #linkedInImg {
        max-width: 4vw;
    }

    #footerTitle {
        font-size: 2.5vw;
        padding: 10vw 8vw;
    }

    #moreLinksTitle {
        font-size: 2vw;
        padding: 2vw;
    }

    .footerH5 {
        font-size: 1.5vw;
    }

    #gmail {
        padding: 5vw;
    }

    #p1_video {
        max-width: 50%;
        height: auto;
        padding: 0% 25%;
    }

    #github {
        max-width: 3vw;
    }

    #toGitText {
        font-size: 2vw;
    }

    #hideTicTacToe {
        width: 20%;
        margin: 4% auto 1% auto;
        font-size: 1.7vw;
        padding: 1vw;
    }
}

#projects {
    text-align: start;
}


#showProjects {
    padding: 0.7vw;
}

#resumeImg {
    display: none;
    opacity: 0.9;
}

#resumeHover {
    max-width: max-content;
    max-height: max-content;
    margin: 0 auto;
    padding: 3vw 0 5vw;
}