html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: #464646;
}

#showNav {
    display: none;
}

img {
    max-width: 40vw;
}

#aboutMeImage {
    max-width: 20vw;
    border: 0.5px solid black;
}

h2 {
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #242424;
}

h3 {
    width: max-content;
    max-width: 50vw;
    font-size: 1.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #242424;
    margin: 3vw auto;
    padding: 0.8vw 3vw;
    background-color: #F0CFBA;
}

h5 {
    max-width: 40vw;
    font-size: 0.9vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
}

p {
    font-size: 1.5vw;
    padding: 2vw 0vw;
    margin-top: 0;
}

ul {
    width: 100%;
    height: 5vw;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    position: fixed;
    top: 0;
}

li {
    width: 20%;
    max-height: 100%;
    float: left;
    margin: 0;
}

li a {
    width: 100%;
    max-height: 100%;
    display: block;
    padding: 1.2vw 0;
    font-size: 1.2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    text-decoration: none;
    color: #242424;
    background-color: #f79fa1;
    scroll-behavior: smooth;
}

#navBarForPC li a:hover {
    color: white;
    background-color: #ea8488;
}

#photoAndName,
#about,
#skills,
#projects,
#resume,
#projects2 {
    max-width: 70vw;
    padding: 6vw 3vw 7vw 3vw;
    margin: 0 auto;
}

#container {
    max-width: 90vw;
    height: max-content;
    text-align: center;
    margin: 6.5vw auto 3vw auto;
    background-color: white;
}

.transitionOut {
    transform: translateX(100%);
}

.transitionIn {
    transform: translateX(0%);
    transition: 400ms;
}

hr {
    width: 50vw;
    border-radius: 50%;
}

.transitionOut {
    transform: translateX(-100%);
    transition: 400ms;
}

#toGame:hover,
#navBarForPC li:hover,
.viewCert:hover,
#toGameImage:hover,
#resumeHover:hover,
#showProjects:hover,
#gmailImg:hover,
#linkedInImg:hover,
#hideTicTacToe:hover,
#goToGithub:hover {
    cursor: pointer;
}

#viewTicTacToe,
#viewConverter,
#viewLeisure,
#viewPortfolio,
#view2DGame {
    display: block;
    margin: 3vw auto 0vw auto;
    padding: 0.5vw 3vw;
    background-color: rgb(154, 215, 251);
    font-size: 1vw;
}

#hideTicTacToe {
    width: 7%;
    display: none;
    background-color: #0a0a0a;
    color: white;
    margin: 5% 32% 0% auto;
    border: 0;
    font-size: 1vw;
    padding: 0.5vw;
}

#hideTicTacToe:hover {
    background-color: #fe7d83;
    color: #181818;
    transition: 200ms;
}

#github {
    max-width: 1.5vw;
}

#goToGithub {
    max-width: max-content;
    max-height: max-content;
    background-color: white;
    border-radius: 10%;
}

#p2,
#p3,
#p4,
#p5 {
    display: none;
}

#showProjects {
    padding: 0.5vw;
    font-size: 1vw;
}

#viewPortfolioCode {
    margin: 1vw auto 0vw auto;
    padding: 0.5vw 3.35vw;
}

#viewTicTacToe:hover,
#viewConverter:hover,
#viewLeisure:hover,
#viewPortfolio:hover,
#view2DGame:hover {
    cursor: pointer;
    padding: 1.3vw 3vw;
    background-size: contain;
    background-repeat: no-repeat center;
    transition: 400ms;
    font-size: 1.2vw;
}

#viewTicTacToe:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('TicTacToe.jpg');
}

#viewLeisure:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('LeisureActiviteas.png');
}

#viewPortfolio:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('portfolioBtnBack.png');
}

#view2DGame:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('toGameBack.png');
    padding: 1vw 3vw;
}

#viewConverter:hover {
    background-image: linear-gradient(rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.5)), url('converterBack.jpg');
}



#projects {
    text-align: start;
}

#projects p {
    background-color: #fdf4dd;
    padding: 8vw 8vw;
    border-radius: 2vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}

#skills {
    max-width: 35vw;
}

.viewCert {
    font-size: 1vw;
}

.viewCert:hover {
    background-color: #bbbbbb;
}

#toGame {
    width: 40vw;
    font-size: 1vw;
    padding: 0.5vw 0vw;
    background-color: black;
    text-decoration: underline;
    color: rgb(157, 157, 242)
}

#toGame:hover {
    background-color: rgb(68, 67, 67);
    color: rgb(194, 194, 247);
}

#resumeImg {
    max-width: 40vw;
    margin: 0 auto;
}

#resumeHover {
    display: none;
    margin: 0 auto;
}



#gmail {
    grid-area: gmail;
    padding: 2vw 2vw 1vw 2vw;
}

#gmailImg,
#linkedInImg {
    max-width: 3vw;
    border-radius: 0.5vw;
}

#linkedIn {
    grid-area: linkedIn;
    padding: 1vw 2vw 2vw 2vw;
}

#footerTitle {
    grid-area: footerTitle;
    margin: 0;
    padding: 2.5vw;
    max-width: 13vw;
    font-size: 2vw;
    color: white;
    background-color: rgb(209, 151, 118);
    text-align: center;
}

#moreLinksTitle {
    grid-area: moreLinksTitle;
    font-size: 1.2vw;
    background-color: rgb(255, 216, 193);
    margin: auto;
    padding: 1.5vw;
}

#footerLinks {
    max-width: max-content;
    grid-area: footerLinks;
    background-color: rgb(255, 216, 193);
    padding: 2vw 0vw;
    text-align: center;
}

.footerH5 {
    padding: 0vw 3vw;
    margin: 0.2vw;
}


#footerContainer {
    display: grid;
    grid-template-areas: 'gmail' 'linkedIn';
    justify-items: center;
    grid-area: footerSymbols;
    background-color: rgb(231, 181, 152);
}

footer {
    max-width: 100%;
    height: max-content;
    border-top: 0.1vw solid rgb(200, 192, 192);
    background-color: rgb(232, 208, 194);
    background-image: linear-gradient(to right, white, rgba(255, 255, 255, 0.49)), url('footerBack.jpg');
    background-size: contain;
    display: grid;
    grid-template-areas: 'footerTitle footerSymbols footerLinks . . . . .';
    grid-template-columns: max-content auto;
    overflow: hidden;
}

#p1_video {
    max-width: 36%;
    height: auto;
    padding: 0% 32%;
    display: none;
}