body {
    margin: 0;
}

#home {
    position: absolute;
    left: 0;
    top: 0;
    font-size: 2vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: black;
    padding: 1.3vw 2vw;
    border: 0.1vw solid #8e8d8d;
}

#home:hover {
    cursor: pointer;
    background-color: #d6d6d6;
    transition: 200ms;
}


#vector {
    max-width: 13vw;
    grid-area: image;
    margin: auto;
}

h1 {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding: 1.5vw 2vw;
    /* background-color: #F2E9D9; */
    /* border: 0.3vw solid rgb(114, 92, 63); */
    grid-area: message;
}

#popUp {
    max-width: 45vw;
    position: relative;
    top: 5vw;
    left: 45%;
    transform: translate(-50%, 0);
}

#welcomeMsg {
    max-width: max-content;
    margin: auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 'image' 'message';
    justify-content: center;
    position: absolute;
    top: 5vw;
    left: 50%;
    transform: translate(-50%, 0);
}

h2 {
    margin: 0;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #0f0f0f;
    padding: 1.5vw 10vw;
    background-color: #ec8c8f;
    text-align: center;
    border-radius: 0.5vw 0.5vw 0 0;
}

#letsLearn,
#projects {
    width: 53vw;
    max-width: 53vw;
    background-color: rgb(249, 242, 234);
    position: relative;
    left: 100%;
    transform: translate(-100%, 0);
    border: 0.3vw solid #343434;
    border-radius: 0.8vw;
}

video {
    position: absolute;
    left: 10vw;
    max-width: 26vw;
    outline: 4px solid #dbccbd;
    outline-offset: -3px;
}

#sources,
#game {
    max-width: 53vw;
    background-color: rgb(249, 242, 234);
    border: 0.3vw solid #7f7f7f;
    border-radius: 0.8vw;
}

p {
    padding: 4vw;
    font-size: 1.2vw;
    text-align: center;
    /* background-color: #f7e0d3; */
    background-color: white;
    margin: 0;
    border-radius: 0.5vw;
}

#sources>p {
    text-align: start;
    padding-left: 35%;
}

.hola {
    display: inline;
    opacity: 0;
    padding: 0.5vw;
}

#ex1 {
    animation: enter .8s linear forwards;
}

#H {
    animation: enter .4s linear forwards .2s;
}

#O {
    animation: enter .4s linear forwards .4s;
}

#L {
    animation: enter .4s linear forwards .6s;
}

#A {
    animation: enter .4s linear forwards .8s;
}

#H,
#O,
#L,
#A {
    color: #F87472;
}

#ex2 {
    animation: enter .4s linear forwards 1s;
}

@keyframes enter {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    5% {
        opacity: 0.7;
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    65% {
        transform: translateX(19%);
        opacity: 1;
    }

    75% {
        transform: translateX(24%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.darkBack {
    background-color: #dbccbd;
    padding: 3vw 2vw;
}

.lightBack {
    background-image: url('../body_background.jpg');
    background-size: 30vw;
    padding: 3vw 2vw;
}