html {
    scroll-behavior: smooth;
}

hr {
    display: none;
}

body {
    margin: 0;
    background-image: url('../body_background.jpg');
    background-size: 30vw;
}

#showNav {
    width: 100%;
    background-color: #e8878a;
    /* background-color: #fcb68e; */
    /* background-color: #c1825e; */
}

#show {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.3vw;
}

#show:hover,
#gmail:hover,
#linkedIn:hover,
#gameBtn {
    cursor: pointer;
}

#gmail:hover,
#linkedIn:hover {
    opacity: 0.8;
}

div ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
    animation: appear 0.1s linear forwards;
}

div ul li {
    width: 100%;
    margin: 0;
}

div ul li a {
    width: 100%;
    display: block;
    font-size: 1vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #242424;
    scroll-behavior: smooth;
    padding: 1vw;
}


#vector {
    max-width: 13vw;
    grid-area: image;
    margin: auto;
}

h1 {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-size: 2.5vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    padding: 1.5vw 2vw;
    grid-area: message;
}

#popUp {
    max-width: 45vw;
    position: relative;
    top: 4vw;
    left: 45%;
    transform: translate(-50%, 0);
}

#welcomeMsg {
    max-width: max-content;
    margin: auto;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 'image' 'message';
    justify-content: center;
    position: absolute;
    top: 4vw;
    left: 50%;
    transform: translate(-50%, 0);
}

#welcome {
    position: relative;
    right: 21vw;
}

h2 {
    margin: 0;
    font-size: 1.8vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #0f0f0f;
    padding: 1.5vw 10vw;
    background-color: #ec8c8f;
    text-align: center;
    border-radius: 0.5vw 0.5vw 0 0;
}

#letsLearn,
#projects,
#csAsOption {
    width: 60vw;
    max-width: 60vw;
    background-color: white;
    position: relative;
    left: 100%;
    transform: translate(-100%, 0);
    border: 0.3vw solid #343434;
    border-radius: 0.8vw;
}

video {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    max-width: 25vw;
    margin-bottom: 2vw;
    margin-top: 2vw;
    outline: 3px solid white;
    outline-offset: -2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#videoBack {
    width: 100%;
    height: max-content;
    background-image: linear-gradient(180deg,
            rgba(255, 255, 255, 0.5),
            rgba(255, 255, 255, 0.7)), url('videoBack.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10%;
}

#sources,
#game {
    max-width: 60vw;
    background-color: rgb(250, 246, 241);
    border: 0.3vw solid #7f7f7f;
    border-radius: 0.8vw;
}

#game {
    height: 17vw;
}

#wordcloud {
    max-width: 5vw;
    position: relative;
    padding-top: 1vw;
}

p {
    padding: 2vw;
    font-size: 1.2vw;
    text-align: center;
    background-color: white;
    margin: 0;
    border-radius: 0.5vw;
}

#game>p {
    max-width: max-content;
    text-align: start;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    padding-bottom: 2vw;
    background-color: rgb(250, 246, 241);
}

#sourceP1 {
    max-width: 50%;
    grid-area: sourceP1;
    text-align: start;
    background-color: rgb(250, 246, 241);
}

#sourceP2 {
    max-width: 50%;
    grid-area: sourceP2;
    text-align: start;
    background-color: rgb(250, 246, 241);
}

#sourceInfo {
    width: 100%;
    display: grid;
    grid-template-areas: 'sourceP1 sourceP2';
    justify-items: center;
}

.hola {
    display: inline;
    opacity: 0;
    padding: 0.5vw;
}

#ex1 {
    animation: enter .8s linear forwards;
}

#H {
    animation: enter .4s linear forwards .2s;
}

#O {
    animation: enter .4s linear forwards .4s;
}

#L {
    animation: enter .4s linear forwards .6s;
}

#A {
    animation: enter .4s linear forwards .8s;
}

#H,
#L {
    color: #F87472;
}

#O,
#A {
    color: #ff995e;
}

#ex2 {
    animation: enter .4s linear forwards 1s;
}

@keyframes enter {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    5% {
        opacity: 0.7;
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    65% {
        transform: translateX(19%);
        opacity: 1;
    }

    75% {
        transform: translateX(24%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

.darkBack {
    background-color: rgb(250, 235, 215);
    padding: 4vw 2vw;
}

.lightBack {
    padding: 4vw 2vw;
}

#gmail,
#linkedIn {
    width: 2.3vw;
    height: 2.3vw;
    border: 0.1vw solid #464646;
    margin: 0.3vw;
    border-radius: 20%;
}

#emailID {
    padding: 0vw 0vw 2vw 0vw;
    display: none;
    animation: appear 0.14s;
}

#linkedIn {
    margin-bottom: 3vw;
}

#contact {
    width: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail' 'emailID emailID' 'connect LI';
    align-items: center;
    justify-items: center;
    font-size: 1.2vw;
}

#projects>h2 {
    grid-area: projectTitle;
}

#projects>p {
    grid-area: projectPara;
}

#projects {
    max-width: 60vw;
    display: grid;
    overflow: hidden;
    align-items: center;
    grid-template-areas: 'projectTitle projectTitle projectTitle' 'projectPara projectPara toGame' 'projectPara projectPara tictactoe' 'projectPara projectPara portfolio' 'leisure unitConverter portfolio';
    /* grid-template-areas: 'projectTitle projectTitle' 'portfolio toGame' 'portfolio unitConverter' 'tictactoe leisure' 'projectPara projectPara ' 'projectPara projectPara'; */
}

#toGame,
#tictactoe,
#portfolio,
#unitConverter,
#leisure {
    max-width: 20vw;
    opacity: 0.5;
}

#gameBtn {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 1.3vw;
    font-family: "Sedan SC", serif;
    font-weight: 400;
    padding: 1vw 2vw;
    background-color: rgb(154, 215, 251);
    color: rgb(50, 50, 50);
    animation: shrink 1.3s infinite;
}

@keyframes shrink {
    0% {
        font-size: 1.3vw;
    }

    50% {
        font-size: 1.1vw;
    }

    100% {
        font-size: 1.3vw;
    }
}

#csAsChoice {
    max-width: 30vw;
    position: relative;
    left: 50%;
    transform: translate(-50%, 15%);
    border: 0.1vw solid black;
}

.increaseFontSize {
    font-size: 1.3vw;
}

.normalFontSize {
    font-size: 1.2vw;
}