body {
    margin: 0;
}

#home {
    position: absolute;
    left: 0.3vw;
    top: 0.3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 100;
    color: #242424;
    background-color: rgb(235, 204, 163);
    border: 0;
}

#home:hover {
    cursor: pointer;
    background-color: rgb(215, 185, 145);
}

h1 {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #242424;
    background-color: antiquewhite;
    border: 0.3vw solid rgb(114, 92, 63);
}

h2 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #4a4a4a;
    background-color: #fbbebf;
    text-align: center;
}

p {
    padding: 5vw;
    text-align: center;
}

.hola {
    display: inline;
    opacity: 0;
    padding: 0.5vw;
}

#ex1 {
    animation: enter .8s linear forwards;
}

#H {
    animation: enter .4s linear forwards .2s;
}

#O {
    animation: enter .4s linear forwards .4s;
}

#L {
    animation: enter .4s linear forwards .6s;
}

#A {
    animation: enter .4s linear forwards .8s;
}

#H,
#O,
#L,
#A {
    color: rgb(154, 102, 39);
}

#ex2 {
    animation: enter .4s linear forwards 1s;
}

@keyframes enter {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    5% {
        opacity: 0.7;
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    65% {
        transform: translateX(19%);
        opacity: 1;
    }

    75% {
        transform: translateX(24%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media screen and (orientation: portrait) {
    #home {
        font-size: 4vw;
        padding: 5.1vw 4vw;
    }

    h1 {
        font-size: 6vw;
        padding: 4vw 0vw;
    }

    h2 {
        max-width: 90vw;
        font-size: 4.5vw;
        padding: 1.5vw 1vw;
    }

    #container {
        width: 90vw;
        position: absolute;
        left: 50%;
        transform: translate(-50%, 0);
        padding: 3.5vw 0vw;
    }

    #letsLearn,
    #sources {
        max-width: 90vw;
        background-color: rgb(249, 242, 234);
    }

    p {
        font-size: 3.5vw;
    }
}

@media screen and (orientation: landscape) {
    #home {
        font-size: 3vw;
        padding: 3.65vw 3.5vw;
    }

    h1 {
        font-size: 4vw;
        padding: 3vw 0vw;
    }

    h2 {
        max-width: 53vw;
        font-size: 2.5vw;
        padding: 1.5vw 10vw;
    }

    #container {
        max-width: 100%;
        padding: 3vw 0vw;
    }

    #letsLearn {
        max-width: 53vw;
        background-color: rgb(249, 242, 234);
        position: relative;
        left: 47vw;
    }

    #sources {
        max-width: 53vw;
        background-color: rgb(249, 242, 234);
    }

    p {
        font-size: 2vw;
    }
}