html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-image: url('../body_background.jpg');
    background-size: 70vw;
}

h1 {
    max-width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #242424;
    grid-area: message;
}

h2 {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    color: #2e2e2e;
    background-color: #fbbebf;
    text-align: center;
}

#showNav {
    width: 100%;
    background-color: #e8878a;
    /* background-color: #c67d52; */
    /* background-color: #fbaa7b; */
}

#show {
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
}

div ul {
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    text-align: center;
}

div ul li {
    width: 100%;
    margin: 0;
}

div ul li a {
    width: 100%;
    height: 1.5vw;
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    text-decoration: none;
    color: #242424;
    scroll-behavior: smooth;
}

#welcomeMsg {
    max-width: max-content;
    background-repeat: no-repeat;
    display: grid;
    grid-template-areas: 'image' 'message';
    justify-content: center;
    position: absolute;
}

#welcome {
    position: relative;
}

p {
    padding: 5vw;
    text-align: center;
    background-color: white;
}

#sources>p {
    text-align: start;
    padding-left: 25%;
}

.hola {
    display: inline;
    opacity: 0;
    padding: 0.5vw;
}

#ex1 {
    animation: enter .8s linear forwards;
}

#H {
    animation: enter .4s linear forwards .2s;
}

#O {
    animation: enter .4s linear forwards .4s;
}

#L {
    animation: enter .4s linear forwards .6s;
}

#A {
    animation: enter .4s linear forwards .8s;
}

#H,
#L {
    color: #F87472;
}

#O,
#A {
    color: #ff995e;
}

#ex2 {
    animation: enter .4s linear forwards 1s;
}

@keyframes enter {
    0% {
        transform: translateX(200%);
        opacity: 0;
    }

    5% {
        opacity: 0.7;
    }

    50% {
        transform: translateX(0%);
        opacity: 1;
    }

    65% {
        transform: translateX(19%);
        opacity: 1;
    }

    75% {
        transform: translateX(24%);
        opacity: 1;
    }

    100% {
        transform: translateX(0%);
        opacity: 1;
    }
}

@media screen and (orientation: portrait) {

    hr {
        display: block;
        max-width: 70%;
        border-radius: 50%;
    }

    #home {
        font-size: 4vw;
        padding: 5.15vw 4vw;
    }

    h1 {
        font-size: 4vw;
        padding: 3vw 0vw;
    }

    h2 {
        font-size: 4.5vw;
        padding: 3vw 1vw;
        border-radius: 2.5vw 2.5vw 0 0;
    }

    #container {
        max-width: 100vw;
    }

    #letsLearn,
    #projects,
    #sources,
    #game,
    #csAsOption {
        max-width: 90vw;
        background-color: white;
        margin: 3.5vw auto;
        border: 0.5vw solid #343434;
        border-radius: 3vw;
    }

    #letsLearn {
        margin-top: 15vw;
    }

    #sources,
    #game {
        background-color: rgb(250, 246, 241);
        border: 0.5vw solid #7f7f7f;
    }

    #game>p,
    #sourceP1,
    #sourceP2 {
        background-color: rgb(250, 246, 241);
    }

    p {
        font-size: 3.5vw;
    }

    #popUp {
        max-width: 70vw;
        position: relative;
        top: 10vw;
        left: 43%;
        transform: translate(-50%, 0);
    }

    #vector {
        max-width: 20vw;
        grid-area: image;
        margin: auto;
    }

    #welcomeMsg {
        top: 10vw;
        left: 50%;
        transform: translate(-50%, 0);
    }

    video {
        max-width: 60vw;
        outline: 4px solid white;
        outline-offset: -3px;
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        margin-bottom: 6vw;
    }

    #wordcloud {
        max-width: 20%;
        padding: 2vw;
    }

    div ul li a {
        font-size: 3vw;
        padding: 4vw 0vw;
    }

    #show {
        font-size: 4vw;
    }

    #gmail,
    #linkedIn {
        width: 6vw;
        height: 6vw;
    }

    #contact{
        grid-template-rows: 4.5vw;
    }
}

@media screen and (orientation: landscape) {

    hr {
        display: none;
    }

    #home {
        font-size: 3vw;
        padding: 3.65vw 3.5vw;
    }

    h1 {
        font-size: 3vw;
        padding: 3vw 0vw;
    }

    h2 {
        max-width: 53vw;
        font-size: 2.5vw;
        padding: 1.5vw 10vw;
        border-radius: 2.7vw 2.7vw 0 0;
    }

    #container {
        max-width: 100%;
    }

    #letsLearn,
    #projects,
    #csAsOption {
        max-width: 55vw;
        background-color: white;
        position: relative;
        left: 100%;
        transform: translate(-100%, 0);
        margin: -7vw 0 -8vw 0;
        border: 0.4vw solid #343434;
        border-radius: 3vw;
    }

    #letsLearn {
        margin: 8vw 0 -8vw 0;
    }

    #sources,
    #game {
        max-width: 55vw;
        background-color: rgb(250, 246, 241);
        border: 0.02vw solid #605f5f;
        margin: -7vw 0;
        border: 0.4vw solid #7f7f7f;
        border-radius: 3vw;
    }

    #game>p,
    #sourceP1,
    #sourceP2 {
        background-color: rgb(250, 246, 241);
    }

    #sourceP1 {
        grid-area: sourceP1;
        text-align: start;
    }

    #sourceP2 {
        grid-area: sourceP2;
        text-align: start;
    }

    #sourceInfo {
        width: 100%;
        display: grid;
        grid-template-areas: 'sourceP1 sourceP2';
        justify-items: center;
    }

    p {
        font-size: 2vw;
    }

    #popUp {
        max-width: 50vw;
        position: relative;
        top: 10vw;
        left: 25%;
        transform: translate(-50%, 0);
    }

    #vector {
        max-width: 15vw;
        grid-area: image;
        margin: auto;
    }

    #welcomeMsg {
        top: 9vw;
        left: 24%;
    }

    video {
        position: relative;
        left: 50%;
        transform: translate(-50%, 0);
        max-width: 35vw;
        outline: 4px solid white;
        outline-offset: -3px;
        margin-bottom: 6vw;
        margin-top: 3vw;
    }

    #wordcloud {
        max-width: 30%;
        padding: 1.5vw;
    }

    div ul li a {
        font-size: 2vw;
        padding: 2vw 0;
    }

    #show {
        font-size: 2.2vw;
    }

    #gmail,
    #linkedIn {
        width: 3.5vw;
        height: 3.5vw;
    }

    #contact{
        grid-template-rows: 3.5vw;
    }
}


.darkBack {
    background-color: antiquewhite;
    padding: 15vw 2vw;
}

.lightBack {
    padding: 15vw 2vw;
}

#gmail,
#linkedIn {
    border: 0.1vw solid #464646;
    border-radius: 20%;
}

#contact {
    width: max-content;
    margin: 0 auto;
    display: grid;
    grid-template-areas: 'dropEmail gmail' 'connect LI';
    align-items: center;
    justify-items: center;
    text-align: start;
    font-size: 1.2vw;
}